.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --nav-height: 40px;
}

.App > main {
  flex-grow: 1;
}

.section {
  min-height: 100vh;
  scroll-margin-top: var(--nav-height);
}